# Debug Info / Symbols
CONFIG_DEBUG_INFO=y
CONFIG_DEBUG_INFO_DWARF_TOOLCHAIN_DEFAULT=y
CONFIG_DEBUG_INFO_BTF=y
CONFIG_PAHOLE_HAS_LANG_EXCLUDE=y
CONFIG_DEBUG_INFO_BTF_MODULES=y

# BPF
CONFIG_BPF_SYSCALL=y
CONFIG_BPF_JIT=y
CONFIG_BPF_JIT_DEFAULT_ON=y
CONFIG_BPF_UNPRIV_DEFAULT_OFF=y
CONFIG_NETFILTER_BPF_LINK=y
CONFIG_BPF_EVENTS=y

# Tracing
CONFIG_TRACING=y
CONFIG_FUNCTION_TRACER=y
CONFIG_FUNCTION_TRACE_ARGS=y
CONFIG_KPROBE_EVENTS=y
CONFIG_PROBE_EVENTS_BTF_ARGS=y
CONFIG_PRINTK_CALLER=y
