CONFIG_PCI_IOV=y
CONFIG_VFIO=m
CONFIG_VFIO_DEVICE_CDEV=y
CONFIG_VFIO_GROUP=y
CONFIG_VFIO_CONTAINER=y
CONFIG_VFIO_IOMMU_TYPE1=m
CONFIG_VFIO_NOIOMMU=y
CONFIG_VFIO_VIRQFD=y
CONFIG_VFIO_PCI_CORE=m
CONFIG_VFIO_PCI_INTX=y
CONFIG_VFIO_PCI=m
CONFIG_IRQ_BYPASS_MANAGER=m
CONFIG_IOMMUFD_DRIVER=y
CONFIG_IOMMUFD=m
CONFIG_INTERVAL_TREE_SPAN_ITER=y
CONFIG_VFIO_DEBUGFS=y
CONFIG_VFIO_PCI_DMABUF=y
CONFIG_DMA_SHARED_BUFFER=y
CONFIG_VFIO_PCI_IGD=y
CONFIG_PCI_PF_STUB=y
CONFIG_PCI_P2PDMA=y
CONFIG_ZONE_DEVICE=y
CONFIG_IOMMU_DEBUGFS=y
CONFIG_INTEL_IOMMU_DEBUGFS=y
CONFIG_AMD_IOMMU_DEBUGFS=y
CONFIG_INTEL_IOMMU_DEFAULT_ON=y
CONFIG_IOMMUFD_TEST=y
CONFIG_DEBUG_KERNEL=y
CONFIG_FAULT_INJECTION=y
CONFIG_MEMORY_HOTPLUG=y
CONFIG_MEMORY_HOTREMOVE=y
